*, body {
padding: 0;
margin: 0;
box-sizing: border-box;
}

.item1 {
background-color: tan;
padding: 1rem;

}

.container {
display: grid;
grid-template-columns: repeat(3,1fr);
grid-template-rows: 1fr;
grid-gap: 1em;
}