<!DOCTYPE html>
<html>
  <head>
    <title><%= appName %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= appName %></h1>
    <p>Our warmest welcome to <%= appName %></p>
    <script src="javascripts/project.js"></script>
  </body>
</html>
