body,html {
    margin:0 !important;
    padding: 0 !important;
}

.me-auto.navbar-nav a {
    color: rgba(255,255,255,.5) !important;
}
.me-auto.navbar-nav a:hover{
    text-decoration: none !important;
    color: rgba(255, 255, 255, 0.678) !important
}