div          {

background-color: rgb(0, 0, 0);
}

h1     {

font-family: Verdana, Geneva, Tahoma, sans-serif;
color: rgb(60, 179, 24);
font-size: x-large;
font-style: oblique;
text-align: center;

}
ul   {
color: seashell;


}

body {
background-color: rgb(221, 255, 71);

}

img   {




}



