body,html {
    margin:0 !important;
    padding: 0 !important;
}

body{
    background-color: black;
}

.card{
    text-align: center;
    margin-left: 45em !important;
    margin-top: 10em !important;
    display: flex;
}

.fa {
    color: rgb(4, 83, 187);
}

